<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DGActivityIndicatorView.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Expecta+Snapshots.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Expecta.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>FBSnapshotTestCase.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>PNImagePickerViewController.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-PNImagePickerViewController_Example.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-PNImagePickerViewController_Tests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>PureLayout.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Specta.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00ADDBCA9E516B429C7877EB5AED2DCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D888F29E05E498D0CD91A51D28599A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>291621037D68F7869D267C25CE205F97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>732E1017B9D40DB6888CB2A644F44007</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75C3EC857F27A184C52FAB21FD6A1994</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B0E3299C6A701014A430848E3BA9BC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5522B4C786061CA9DFC8A4198028552</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD77E84854E41B292EAB2AD21C858342</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD86ABD743B0605672C710ADC56EB9DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1E99BE24B4D5E362ECFB6580A5D5A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED4342E27597144E22BA4081D52F6DD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7D9D871D4F720F9389E6BFA85F8AB6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
